# Initial Analysis

In [50]:
#importing useful libraries
import pandas as pd
import numpy  as np
import matplotlib.pyplot as plt

In [51]:
df = pd.read_csv("data/data2017.csv", low_memory=False)

In [52]:
print(df.shape)

(1333404, 78)

In [53]:
df.head(2)

,as_of_year,respondent_id,agency_name,agency_abbr,agency_code,loan_type_name,loan_type,property_type_name,property_type,loan_purpose_name,...,edit_status_name,edit_status,sequence_number,population,minority_population,hud_median_family_income,tract_to_msamd_income,number_of_owner_occupied_units,number_of_1_to_4_family_units,application_date_indicator
0,2017,75-2921540,Department of Housing and Urban Development,HUD,7,Conventional,1,One-to-four family dwelling (other than manufa...,1,Refinancing,...,NaN,NaN,NaN,3202.0,97.279999,57400.0,47.540001,710.0,1314.0,NaN
1,2017,0000504713,Consumer Financial Protection Bureau,CFPB,9,Conventional,1,One-to-four family dwelling (other than manufa...,1,Refinancing,...,NaN,NaN,NaN,3733.0,4.580000,63900.0,86.239998,861.0,1241.0,NaN

In [54]:
    df = df[["applicant_race_name_1","applicant_race_1","action_taken_name", "action_taken"]]

In [55]:
df.head(2)

,applicant_race_name_1,applicant_race_1,action_taken_name,action_taken
0,Black or African American,3,Application withdrawn by applicant,4
1,White,5,Application denied by financial institution,3

In [56]:
BA = df[df["applicant_race_1"] == 3] #Black Applicants
WA = df[df["applicant_race_1"] == 5] #White Applicants

In [64]:
BA_denied = BA[BA["action_taken"]==3] # Black Applicants Denied Loans
BA_accepted = BA[BA["action_taken"]==1] # Black Applicants Originated Loans

WA_denied = WA[WA["action_taken"]==3] # White Applicants Denied Loans
WA_accepted = WA[WA["action_taken"]==1] # White Applicants Originated Loans

In [65]:
BA_denied.shape

(28257, 4)

In [66]:
BA_accepted.shape

(35051, 4)

In [67]:
WA_denied.shape

(159702, 4)

In [68]:
WA_accepted.shape

(450580, 4)

In [72]:
BA_percentage = len(BA_accepted) / len(BA)
print(BA_percentage * 100)

38.047218453188606

In [73]:
WA_percentage = len(WA_accepted) / len(WA)
print(WA_percentage * 100)

55.23858094539891