# Initial Analysis

In [1]:
#importing useful libraries
import pandas as pd
import numpy  as np
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv("data/2021_data_truncated.csv", low_memory=False)

In [3]:
print(df.shape)

(99999, 99)

In [4]:
df.head(2)

,activity_year,lei,derived_msa_md,state_code,county_code,census_tract,conforming_loan_limit,derived_loan_product_type,derived_dwelling_category,derived_ethnicity,...,denial_reason_2,denial_reason_3,denial_reason_4,tract_population,tract_minority_population_percent,ffiec_msa_md_median_family_income,tract_to_msa_income_percentage,tract_owner_occupied_units,tract_one_to_four_family_homes,tract_median_age_of_housing_units
0,2021,5493006LH4LKHY2EIN26,15380,NY,36029.0,3.602901e+10,C,Conventional:First Lien,Single Family (1-4 Units):Site-Built,Not Hispanic or Latino,...,NaN,NaN,NaN,5455,2.51,78900,152.0,1943,2018,31
1,2021,5493006LH4LKHY2EIN26,40380,NY,36051.0,3.605103e+10,C,Conventional:First Lien,Single Family (1-4 Units):Site-Built,Not Hispanic or Latino,...,NaN,NaN,NaN,3763,2.02,82900,86.0,1225,1704,67

In [6]:
    df = df[["derived_race","applicant_race_1", "action_taken"]]

In [19]:
df.head(5)

  derived_race  applicant_race_1  action_taken
0        White               5.0             2
1        White               5.0             1
2        White               5.0             1
3        White               5.0             4
4        White               5.0             1

In [8]:
BA = df[df["applicant_race_1"] == 3] #Black Applicants
WA = df[df["applicant_race_1"] == 5] #White Applicants

In [9]:
BA_denied = BA[BA["action_taken"]==3] # Black Applicants Denied Loans
BA_accepted = BA[BA["action_taken"]==1] # Black Applicants Originated Loans

WA_denied = WA[WA["action_taken"]==3] # White Applicants Denied Loans
WA_accepted = WA[WA["action_taken"]==1] # White Applicants Originated Loans

In [10]:
BA_denied.shape

(1447, 3)

In [11]:
BA_accepted.shape

(2676, 3)

In [12]:
WA_denied.shape

(8011, 3)

In [13]:
WA_accepted.shape

(51992, 3)

In [14]:
BA_percentage = len(BA_accepted) / len(BA)
print(BA_percentage * 100)

48.81430134987231

In [15]:
WA_percentage = len(WA_accepted) / len(WA)
print(WA_percentage * 100)

69.92965608145369

### Initial Analysis
##### Based solely on race, it seems at first that Black Applicants have a lower chance of getting their loan accepted. However, we must consider the income of applicants, location of applicants, etc before drawing any conlcusions on the connection between race and loan acceptance rates.